<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Tables</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><script src="https://code.jquery.com/jquery-3.2.1.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>repl.it</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="index.html">Home</a>
              <a class="nav-link active" aria-current="page" href="books.html">Books</a>
              <a class="nav-link" href="movies.html">Movies</a>
            </div>
          </div>
        </div>
      </nav>
      <header>
        Books 
      </header>
    
      <div id="offerApp" class="container">
        <div class="row align-items-start">
          <!-- <div class="col col-4"> -->
            <!-- <p>Profile information for {{ person.name.first }}</p> -->
            <!-- <div v-for="s in books">
              <span class="title">{{ s.title }}</span><br>
              <span class="author">{{ s.author }}</span>
            </div>
          </div> -->

          <!-- <div class="col col-8" v-if="selectedStudent">
            <h1>Offers for {{ selectedStudent.name }}</h1> -->


    <table id="taskTable" class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>Title</th>	
        <th>Author</th>
        <th>Year Published</th>
        <th>Publisher</th>
        <th>Page Count</th>
        <th>MSRP</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="book in books">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.yearpublished }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.pagecount }}</td>
            <td>{{ book.msrp }}</td>
        </tr>
    </tbody>

        

        <tr>
        <td> The Girl on the Train	</td> 
        <td>Edgar Allan Poe </td>
        <td>	2005 </td>
        <td> Frog Books </td>
        <td>	699 </td>
        <td>	$300 </td>
        </tr>

         <!-- <tr>
        <td> Little Women	</td> 
        <td> James Patterson	 </td>
        <td>	2009 </td>
        <td> Impulse </td>
        <td>	19 </td>
        <td>	$20 </td>
        </tr>

        <tr>
            <td> The Outsiders	</td> 
            <td> 	Stuart Woods	 </td>
            <td>	2020 </td>
            <td> Blaze Vox Books </td>
            <td>	399 </td>
            <td>	$230 </td>
            </tr>

            <tr>
                <td> Untamed	</td> 
                <td> 	John Sandford	 </td>
                <td>	2011 </td>
                <td> Blaze Vox Books </td>
                <td>	145 </td>
                <td>	$90 </td>
                </tr> -->

                <form>
                  <!-- <form v-on:submit.prevent="postNewOffer">
                    <div class="mb-3"> -->

                    <label for="lastname">Title </label><input type="text" name="lastname" id="lastname"> <br>
                  <label for="lastname">Author </label><input type="text" name="lastname" id="lastname"> <br>
                  <label for="lastname">Year </label><input type="text" name="lastname" id="lastname"> <br>
                  <label for="lastname">Publisher </label><input type="text" name="lastname" id="lastname"> <br>
                  <label for="lastname">Pages </label><input type="text" name="lastname" id="lastname"> <br>
                  <label for="lastname">MSRP </label><input type="text" name="lastname" id="lastname"> <br>

                </form>
      </tbody>
      <!-----Table sort Plug in from  http://tristen.ca/tablesort/demo/ ---> 
    </table>
    <script src="js/tablesort.min.js"></script>
    <script src="js/index.js"></script>
    <script>
      new Tablesort(document.getElementById('taskTable'));
    </script>

  </body>
</html>